.App {
  text-align: center;
}
.appBar{
  background-color: #cd4631;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.arm path{
fill: aqua;
}
.App-link {
  color: #61dafb;
}
.navlinks{
  display: flex;
}

.svgContent{
  height: 500px;
  width: 500px;
}
.about{
  padding: 90px;
}
.MuiTypography-root.portfolioProjects{
  display: flex;
  justify-content: space-around;
  font-family: 'Lexend Zetta', sans-serif;
  padding-top: 40%;
  font-size: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
